@model WEB.Models.Repair
@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Добавить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Добавление информации</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="RepairDate" class="control-label"></label>
                    <input asp-for="RepairDate" class="form-control" />
                    <span asp-validation-for="RepairDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepairTime" class="control-label"></label>
                    <input asp-for="RepairTime" class="form-control" />
                    <span asp-validation-for="RepairTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepairChangeDate" class="control-label"></label>
                    <input asp-for="RepairChangeDate" class="form-control" />
                    <span asp-validation-for="RepairChangeDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepairChangeTime" class="control-label"></label>
                    <input asp-for="RepairChangeTime" class="form-control" />
                    <span asp-validation-for="RepairChangeTime" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="DescriptionProblem" class="control-label"></label>
                <textarea asp-for="DescriptionProblem" class="form-control"></textarea>
                <span asp-validation-for="DescriptionProblem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <select asp-for="EquipmentId" class="form-control" asp-items="ViewBag.EquipmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoftId" class="control-label"></label>
                <select asp-for="SoftId" class="form-control" asp-items="ViewBag.SoftId"></select>
            </div>
            @if (User.IsInRole("admin"))
            {
            <div class="form-group">
                <label asp-for="ExecutorId" class="control-label"></label>
                <select asp-for="ExecutorId" class="form-control" asp-items="ViewBag.ExecutorId"></select>
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку заявок</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
