@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">    Во время обработки Вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    При переключении в среду <strong>Разработка</strong> будет отображаться более подробная информация о возникшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений для конечных пользователей.
    Для локальной отладки включите среду <strong>Разработка</strong>, задав для переменной среды <strong>ASPNETCORE_ENVIRONMENT</strong> значение <strong>Разработка</strong>.
    и перезапустить приложение.
</p>
